:root {
  --font: 'Quattrocento Sans';
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 12px;
}

@media (min-width: 600px) {
  html,
  body {
    font-size: 15px;
  }
}

@media (min-width: 980px) {
  html,
  body {
    font-size: 17px;
  }
}

@media (min-width: 1260px) {
  html,
  body {
    font-size: 18px;
  }
}

@media (min-width: 1950px) {
  html,
  body {
    font-size: 20px;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
